<% include ../partials/header%>
<%- include ../partials/sidebar%>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
              <table id="default-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Tên </th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Giới tính</th>
                        <th>Tùy Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( cusomter =>{%>
                    <tr>
                        <td><%= cusomter._fields[0].properties.id %></td>
                        <td><%= cusomter._fields[0].properties.name %></td>
                        <td><%=  cusomter._fields[0].properties.address %></td>
                        <td> <%= cusomter._fields[0].properties.phone %></td>
                        <td> <%= cusomter._fields[0].properties.male %></td>
                        <td> 
                            <button>Sửa</button>
                            <button>Xóa</button>
                        </td>
                        
                    </tr>
                    <% })%>
                </tbody>
               
            </table>
            </div>
            </div>
          </div>
        </div>
      </div>

<script src="/cleave.lib.js"></script>
<script src="/cleave.js"></script>
<% include ../partials/footer %>
